body {
  background-color: rgb(109, 109, 109);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}

h1 {
  text-align: center;
  color: white;
}

.bottom {
  display: flex;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #007bff;
}

.table {
  color: white;
}

.btn-warning{
  width: 200px;
  margin: 0 Auto;
  margin-top: 20px;
  margin-bottom: 20px;
}



